body, div {
	margin: 0;
	padding: 0;
}

body {
	font-size: 62.5%;
	width: 100%;
	min-width:800px;
	min-height: 600px;
	background-color: grey;
}
#toolbar {
	float: right;
}
.content {
	position: relative;
	float: left;
	width: 100%;
}

.pane {
	position: absolute;
	font-size: 1.2em;
	float: left;
	margin-top: 1%;
	margin-bottom: 1%;
}
.panecontent {
	width: 100%;
	overflow: auto;
}
#pane1 {
	margin-left: 1%;
	width: 27%;
}
#pane2 {
	margin-left: 29%;
	width: 46%;
}
#pane3 {
	width: 23%;
	margin-left: 76%;
	min-height: 400px;
}

#accordion {
	padding: 0;
}

#workspace > div{
	padding: 10px;
}

#scripts_text_view {
	font-size: 1.2em;
}

#stage {
	background-color: white;
	min-height: 100px;
	min-width: 100px;
}

.ui-tabs-hide {
    position: absolute;
    left: -1000px;
} 