body, div {
	margin: 0;
	padding: 0;
}

body {
	font-size: 62.5%;
	width: 100%;
	min-width:800px;
	min-height: 600px;
	background-color: grey;
}

ol,ul {
    list-style:none;
}

textarea{
	width:95%;
	resize: none
}

#toolbar {
	float: right;
}
.content {
	position: relative;
	float: left;
	width: 100%;
}

.pane {
	position: absolute;
	font-size: 1.2em;
	float: left;
	margin-top: 1%;
	margin-bottom: 1%;
}
.panecontent {
	width: 100%;
	overflow: auto;
}
#pane1 {
	margin-left: 1%;
	width: 27%;
}
#pane2 {
	margin-left: 29%;
	width: 46%;
}
#pane3 {
	width: 23%;
	margin-left: 76%;
	min-height: 400px;
}

#accordion {
	padding: 0;
	text-decoration: none;
	font: "Trebuchet MS", sans-serif;
}

#accordion * {
	text-decoration: none;
}
#workspace > div{
	padding: 10px;
}

#scripts_text_view {
	font-size: 1.2em;
}

#stage {
	background-color: white;
	min-height: 100px;
	min-width: 100px;
}

.ui-tabs-hide {
    position: absolute;
    left: -1000px;
}


.dialog input{

	display: block;
	margin-bottom:12px;
	padding: .4em;
}

.dialog {
	margin-left: auto;
	margin-right: auto;
}

.dialog fieldset {
	padding:0;
	border:0;
	margin-top:5px;
	text-align: center;
}

.dialog h2 {
	font-size: 1.2em;
	margin: .6em 0;
}
.ui-dialog .ui-state-error { padding: .3em; }
.dialog .validateTips { border: 1px solid transparent; padding: 0.3em; }


#script_name {
	width: 93%;
}
