body, div {
	margin: 0;
	padding: 0;
}

body {
	font-size: 62.5%;
	width: 100%;
	min-width:800px;
	min-height: 600px;
	background-color: grey;
	overflow-x: hidden;
}

ol,ul {
    list-style:none;
}

textarea {
	width:95%;
	resize: none
}

@font-face
{
font-family: TriniganFGRegular;
src: url('fonts/trinigan-webfont.ttf'),
     url('fonts/trinigan-webfont.woff'),
	 url('fonts/trinigan-webfont.eot');
}

#header {
	clear: both;
	float: left;
	width: 100%;
	border-bottom: 1px solid black;
	margin-bottom: 5px;
	padding: 5px 0px;
}

#logo{
	font-size: 220%;
	float: left;
	margin-left: 5px;
	margin-top: 2px;
}
.title {
	font-family: 'TriniganFGRegular';
}
#toolbar {
	display: inline;
	float: right;
	margin-right: 5px;
}

#colmask {
	position:relative;		/* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
	clear:both;
	float:left;
	width:100%;				/* width of whole page */
	/*overflow:hidden;		 This chops off any overhanging divs */
}

#colmid {
	float:left;
	width:200%;
	position:relative;
	left:200px;
}

#colright {
	float:left;
	width:100%;
	position:relative;
	left:50%;
	margin-left:-450px;
	background-color: gray;
}

#col1wrap {
	float:right;
	width:50%;
	position:relative;
	right:100%;
}

#col1pad {
	margin:0 2px 0 450px;
}

#col1 {
	width:100%;
	overflow-y: hidden;
	overflow-x: scroll;
}

#col2 {
	float:left;
	width:190px;
	position:relative;
	margin-left:-50%;
	left:255px;
}

#col3 {
	width: 250px;
	float:left;
	position:relative;
	left:5px;
}

#accordion {
	padding: 0;
	text-decoration: none;
}

.ui-accordion .ui-accordion-content {
	padding: 5px;
}

#workspace > div{
	padding: 10px;
}

#scripts_workspace {
	overflow: visible;
}

#scripts_text_view {
	overflow: visible;
	font-size: 1.2em;
}

#stage {
	overflow: hidden;
	height: 300px;
	width: 300px;
}

.stagesprite {
	position: absolute;
	height: 50px;
	width: 50px;
}

#spritebank {
	min-height: 290px;
	width: 240px;
}
#spriteheader {
	padding: 5px;
}
#spriteheader > *{
	display: inline;
}
#spritetitle {
	font-size: 1.4em;
}
#newsprite {
	margin-left: 160px;
}

#spritecontainer {
	min-height: 250px;
	clear: both;
}

.currentsprite {
	border: 1px solid black;
}

.ui-tabs-hide {
    position: absolute;
    left: -1000px;
}

.dialog input{

	display: block;
	margin-bottom:12px;
	padding: .4em;
}

.dialog {
	margin-left: auto;
	margin-right: auto;
}

.dialog fieldset {
	padding:0;
	border:0;
	margin-top:5px;
	text-align: center;
}

.dialog h2 {
	font-size: 1.2em;
	margin: .6em 0;
}
.ui-dialog .ui-state-error { 
	padding: .3em;
}

.dialog .validateTips {
	border: 1px solid transparent;
	padding: 0.3em;
}

.diaginput {
	width: 93%;
}
 
.containerBlock {
	overflow: visible;
}